app:
  scheduler:
    interval: PT60S  # 1 минута

spring:
  application:
    name: scrapper

server:
  port: 8081

springdoc:
  swagger-ui:
    path: /swagger-ui

client:
  githubBaseUrl: https://api.github.com
  stackoverflowBaseUrl: https://api.stackexchange.com/2.3


